@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .form {
  width: 100%;
  background-color: #e4e4e4;
}

.container .form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.container .form .form-container .input {
  padding: 5px;
  margin: 30px;
  width: 30vw;
  border: none;
  border-radius: 10px;
}

.container .form .form-container .sbtn {
  color: #fff;
  padding: 5px 20px;
  border: none;
  background-color: #707070;
  border-radius: 10px;
  cursor: pointer;
}

.container .main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-container .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid rgba(255, 255, 255, 0.527);
  border-radius: 50%;
  width: 50vw;
  max-width: 400px;
  -webkit-box-shadow: 0 0 20px #00000042;
          box-shadow: 0 0 20px #00000042;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container .main-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #1313132c;
          box-shadow: 0 0 10px #1313132c;
  margin-bottom: 100px;
}

.container .main-container .info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 10px;
}

@media (min-width: 360px) {
  .container .main-container .info h1 {
    font-size: 20px;
  }
}

.container .main-container .info .name {
  font-size: 15px;
}

.container .main-container .info .pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  min-width: 300px;
  -webkit-box-shadow: 0 0 15px #77777710;
          box-shadow: 0 0 15px #77777710;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.container .main-container .info .pr:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #ff8d8d;
}

.container .main-container .info p {
  padding: 10px;
  max-width: 300px;
}

.container .main-container .info .Follow {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff8d8d;
  margin-top: 20px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #7777773a;
          box-shadow: 0 0 10px #7777773a;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container .main-container .info .Follow:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
/*# sourceMappingURL=app.css.map */